<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evilginx | Login</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="shortcut icon" type="image/png"
        href="https://raw.githubusercontent.com/kgretzky/evilginx2/master/media/img/evilginx2-logo-512.png">
    <link rel="apple-touch-icon" type="image/png"
        href="https://raw.githubusercontent.com/kgretzky/evilginx2/master/media/img/evilginx2-logo-512.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <div class="topbar">
     <img src="https://raw.githubusercontent.com/kgretzky/evilginx2/master/media/img/evilginx2-logo-512.png"
                    alt="Avatar" class="avatar">
    </div>
                <div class="top-heading">
                     <img src="https://raw.githubusercontent.com/kgretzky/evilginx2/master/media/img/evilginx2-logo-512.png"
                    alt="Avatar" class="avatar">
                    <h2>BP Cookies Panel</h2>
                     <p>Evilginx</p>
                </div>
    <div class="login-box">

        <div class="logincard">
                <form action="/login" method="post" id="loginform">

               
               
                <div class="err">
                <% if(messages.error){%> <%=messages.error%>
                    <% }%>
                </div>
                <div class="container">
                    <div class="details">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" name="name" id="formname" placeholder="Enter Username" required value="">
                        <br>
                    </div>
                    <div class="details">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        <input type="password" name="password" id="formpassword" placeholder="Enter Password" required value="">
                        <br><br>
                    </div>
                </div>
                <button type="submit" name="button">Login</button>
            </form>

        </div>
    </div>
</body>

</html>